<div class="example-container">
  <form [formGroup]="loginForm" >

    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input 
        matInput 
        placeholder="Email Address*" 
        formControlName="username"
        autocomplete="off"
        type="email"
      >
    </mat-form-field>
    <app-input-error-container [formControll]="usernameControll" >
      <app-input-error-msg formErrorCode="required" ></app-input-error-msg>
      <app-input-error-msg formErrorCode="email" ></app-input-error-msg>
    </app-input-error-container>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input 
        matInput 
        placeholder="Password*" 
        formControlName="password"
        autocomplete="off"
        type="password"
      >
    </mat-form-field>
    <app-input-error-container [formControll]="passwordControll" >
      <app-input-error-msg formErrorCode="required" ></app-input-error-msg>
    </app-input-error-container>

    <button 
      mat-raised-button 
      color="primary"
      (click)="login()"
      [disabled]="loginForm.invalid"
    >SIGN IN</button>

  </form>
</div>