<div class="login d-flex align-items-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-8 mx-auto">
        
        <i class="fa-solid fa-lock"></i>
        <h3 class="login-heading mb-4">Sign in</h3>

        <form>

          <app-login-input [data]='inputUser'></app-login-input>

          <app-login-input [data]='inputPass'></app-login-input>

          <app-login-button></app-login-button>

        </form>

      </div>
    </div>
  </div>
</div>